@charset "utf-8";
/* CSS Document */

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}

/* wrapper: wrap all items that is inside body tag*/

.wrapper {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-flow: row wrap;
}

/* make wrapper children to be 100% width. */

.wrapper>* {
  flex: 1 100%;
}

/* Prevent images overflowing the viewport */
img {
  max-width: 100%;
}

.nav {
  align-items: center;
  background-color: #252831;
  display: flex;
  width: 100%;
  height: 4rem;
  flex-direction: row;
  justify-content: center;
}

.nav-title {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
}